apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
  namespace: nagp
data:
  MYSQL_DB_HOST: db-service.nagp.svc
  MYSQL_DATABASE: nagp-k8
  MYSQL_TABLE: movies

---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: nagp
type: Opaque
data:
  MYSQL_USER: dXNlcm5hbWU=
  MYSQL_PASSWORD: cGFzc3dvcmQ=
  MYSQL_ROOT_PASSWORD: cGFzc3dvcmQ=
